- content_for :hero do
  = render "hero"

%h1 INTERNATIONAL LEGAL AGENCY
%p International Legal Agency was created in 1994 to help Chinese, American, and other foreign entrepreneurs collect debts in Russia. We specialize in collecting debts from Russian citizens who have defaulted on loans or committed other deceitful acts.%p Pictured above are just a few of our employees who work tirelessly to collect money owed to our clients due to unscrupulous business partners and borrowers in Russia. Our employees come from a wide range of backgrounds and cultures which help us relate to our clients and their needs.   
%p We work with a number of strategic partners to help facilitate the collection of debts such as the Fund of Assistance to Veterans of the Border Troops of Russia and our good friend General Litovchenko Viktor Ivanovich 
%p The International Legal Agency is a member of the Russian Union of Industrialists and Entrepreneurs as well as the Chamber of Commerce of Russia.
%p= image_tag('policeman.jpg')
%h4.red Even with the help of the police, it is vital that you hire a licensed lawyer who is familiar with the process and Russian laws. They can help prepare all the required documents and facilitate communications with the police. 
%h4.red 
%h4.red 

