.footer.text-center
  %p Recalls – The International Legal Agency. Engaged in debt collection since 1994!
  = image_tag('logonew.png', height: '', width: '', class: "text-center")
  %p
    %a{href: "http://www.dolg-vozvrat.com"} Our site in Russian - www.dolg-vozvrat.com


